{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{block "title" .}}Go Wiki{{end}}</title>
    <link rel="stylesheet" href="/static/css/pico.min.css">
    {{if not .IsBasicMode}}
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    {{end}}
</head>
<body>
    <main class="container">
        <nav>
            <ul>
                <li><strong><a href="/" style="display: flex; align-items: center;"><img src="/static/img/logo.png" alt="Wiki Logo" style="height: 1.5em; margin-right: 0.5em;"> Go Wiki</a></strong></li>
            </ul>
            <ul>
                {{if .UserInfo}}
                    {{if ne .UserInfo.Subject "anonymous"}}
                        <li>Welcome, {{.UserInfo.DisplayName}}</li>
                        <li><a href="/auth/logout">Logout</a></li>
                    {{else}}
                        <li><a href="/auth/login">Login</a></li>
                    {{end}}
                {{else}}
                    <li><a href="/auth/login">Login</a></li>
                {{end}}
            </ul>
        </nav>
        {{block "content" .}}{{end}}
    </main>
    <footer class="container">
        <small>Powered by Go & HTMX</small>
    </footer>
    {{block "scripts" .}}{{end}}
</body>
</html>
{{end}}
