{{template "base" .}}

{{define "title"}}Categories{{end}}

{{define "content"}}
    <h2>Categories</h2>

    {{range $node := .CategoryTree}}
        <article style="margin-bottom: 1rem;">
            <h4><a href="/category/{{$node.Parent.Name}}">{{$node.Parent.Name}}</a></h4>
            {{if $node.Children}}
            <ul>
                {{range $node.Children}}
                <li><a href="/category/{{$node.Parent.Name}}/{{.Name}}">{{.Name}}</a></li>
                {{end}}
            </ul>
            {{else}}
            <p><small>This category has no subcategories.</small></p>
            {{end}}
        </article>
    {{end}}
{{end}}
