{{template "base" .}}

{{define "title"}}Editing {{.Page.Title}}{{end}}

{{define "content"}}
    <div id="edit-content">
        <h2>Editing {{.Page.Title}}</h2>
        <form action="/save/{{.Page.Title}}" method="POST"
              {{if not .IsBasicMode}}
              hx-post="/save/{{.Page.Title}}"
              hx-target="#edit-content"
              hx-swap="outerHTML"
              {{end}}>
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" value="{{.Page.Title}}">

            <label for="editor">Content:</label>
            <textarea id="editor" name="content">{{.Page.Content}}</textarea>

            <button type="submit">Save Page</button>
            <span id="save-status"></span>
        </form>
    </div>
{{end}}

{{define "scripts"}}
    {{if not .IsBasicMode}}
    <script>
        var easyMDE = new EasyMDE({element: document.getElementById('editor')});
    </script>
    {{end}}
{{end}}
