{{template "base" .}}

{{define "title"}}{{.Page.Title}} - Go Wiki{{end}}

{{define "content"}}
<article>
    <header>
        <h2>{{.Page.Title}}</h2>
    </header>
    <div class="page-content">
        {{.Page.HTMLContent}}
    </div>
</article>
<footer class="page-footer">
    {{if ne .Page.Title "Home"}}
    <a href="/edit/{{.Page.Title}}">Edit this page</a>
    {{end}}
    {{range .UserInfo.Roles}}
        {{if eq . "editor"}}
            | <a href="/edit/NewPage">Create a new page</a>
            | <a href="/list">Wiki Pages</a>
        {{end}}
    {{end}}
    <br><br>
    <a href="/view/Home">Back to Home</a>
</footer>
{{end}}
